@charset "UTF-8";
/* CSS Document */

/* Font from Google */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

body
{
	transition: background 1s ease;
	background: #F7F6F5;
	height: 100vh;
}

/* nav bar */
.sticky 
{
	position: fixed;
	top: 0;
	left: 0;
	height: 70px;
	width: 100%;
	display:flex;
	background: #F3EFE9;
	z-index: 100;
}

header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display:flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	z-index: 1000;
}

header .nav
{
	position: fixed;
	left: 0;
	width: 100%;
	display: flex;
	padding: 20px;
	justify-content: space-between;
	text-transform: uppercase;
	letter-spacing: 1px;
	z-index: 1000;
}

header ul
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

header ul li
{
	position: relative;
	list-style: none;
	display: inline-block;
	padding: 0.5vmax;
	margin-left: 1.5vmax;
	letter-spacing: 0.2px;
	font-size: 0.9em;
}

header ul li a
{
	position: relative;
	padding: 4px 2px;     /* hover padding*/
	color: #282828;
	background: #ffffff;
	border-radius: 5px;
	
	text-decoration: none;
	font-family: 'Neue Helvetica', sans-serif;
	transition: all 1s;	
}

header ul li a:hover
{
	padding: 7.9px 10.2px;
	color: #282828;
	border-radius: 4px;
	border: solid 1px #FCA879;
	transition: 0.1s;
}

ul li a:hover
{
	transform: scale(1.1);
	cursor: pointer;
}


/* title */

.title
{
	position: relative;
	display: block;
	margin: 7vmin 70px 0;
	transition: 0.2s;
	
	margin-top: 20vmin;
	margin-bottom: 10vmin;
	left: 0px;
}

h1
{
	font-size: 3.5vmax;
	line-height: 20px;
	
	position: relative;
	display: block;
	text-align: center;
}

h2
{
	font-size: 2.8vmax;
	line-height: 40px;
	justify-content: center;
	text-align: center;
}

h3
{
	font-size: 2.2vmax;
	justify-content: center;
	text-align: center;
	
}

.section
{
	position: relative;
	display: block;
	margin: 10px 100px 40px;
}


.content
{
	position: relative;
	display: block;
	margin: 25px 10px 50px;
}

.content a
{
	color: #F57B36;
}

.content a:hover
{
	cursor: pointer;
	color: #FAC57E;	
	transition: all 0.2s;	
}

.verovio
{
	position: relative;
	display: block;
	margin: 10px 80px 50px;
}

iframe
{
	position: relative;
	display: block;
	height: 700px;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 1vmax 7px 10px;
}

.img
{
	position: relative;
	display: block;
	object-fit: contain;
	
	align-items: center;
	height: auto;
	width: 560px;
	transform: translateX(2%);
}

/* Wk7 */
#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}

/* Wk8 Table */

table
{
	position: relative;
	width: 90%;
	justify-content: center;
	border-collapse: collapse;
	margin: 0 40px;
}

.header
{
	font-weight: bold;
}

th
{
	background-color: #FFEDC4;	
}

th, td
{
	padding: 5px 15px;	
	text-align: left;
}

td a
{
	color: #F57B36;
}

td a:hover
{
	cursor: pointer;
	color: #FAC57E;	
	transition: all 0.2s;	
}

tr:nth-child(even)
{
	background-color: #FFFFFF
}

table th:last-child
{
	border-radius: 0 10px 0 0;
}

table tr:first-child td:first-child {
	border-radius: 0 0 0 10px;
}

table tr:last-child td:last-child {
	border-radius: 0 0 10px 0;
}

/* wk9 table */

.wk9_table
{
	position: relative;
	table-layout: fixed;
	width: 98%;
	justify-content: center;
	border-collapse: collapse;
	margin: 0 40px;
   	border-radius: 10px;
    	border-spacing:0 15px;
	font-size: 0.8em;

}

.wk9_table th
.wk9_table tr
{
	padding: 5px;
}

/* slider code obtained from: @Skillthrive, https://www.youtube.com/watch?v=McPdzhLRzCg */
.container
{
	padding: 2.5em;
}

.slider-wrapper
{
	position: relative;
	max-width: 48em;
	margin: 0 auto;
}

.slider
{
	display: flex;
	aspect-ratio: 1 / 1.41;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	border-radius: 0.5em;
}

.slider img
{
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav
{
	display: flex;
	column-gap: 1em;
	position: absolute;
	bottom: 1.25em;
	left: 50%;
	z-index: 1;
}

.slider-nav a
{
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%; 
	background-color: #F57B36;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover
{
	opacity: 1;
}


/*  foot page nav  */

.wk
{
	display: flex;
	position: relative;
	justify-content: space-between;
	top: 10px;
}

.next
{
	text-align: right;
	margin-right: 20px;
	transform: translateY(-23%);
}

.next a
{
	color: #F57B36;
}

.next a:hover
{
	cursor: pointer;
	color: #FAC57E;	
	transition: all 0.2s;
}

.pre
{
	text-align: left;
	margin-left: 20px;
}

.pre a
{
	color: #F57B36;
}

.pre a:hover
{
	cursor: pointer;
	color: #FAC57E;	
	transition: all 0.2s;
}


/*  footer  */

.footer
{
	color:#756B6A;
	margin-top: 20vmin;
	bottom: 40px; 
	padding: 0px 10px 1px;
	line-height:20px;
}

